
.chat-message-text
{
    width: 40vw;
    height: 90vh;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif !important;
}
.chat-message-text-tab
{
    width: 100%;
    margin: 0px auto;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
    font-weight: bolder;
    font-size: large;
    color: white;
    background-color: #942A25;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.3);
}
.chat-message-text-tab-profile
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: auto 20px;
}
.bot-window-close
{
    position: absolute;
    right: 20px;
    bottom: 0px;
    cursor: pointer;
}
.chat-message-text-tab2
{
    position: relative;
    background-color: white;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.chat-message-text-tab2-sent
{
    max-width: 80%;
    padding:15px 15px 10px 15px !important;
    margin: 10px 10px 0px 0px;   
    background-color:#324A8A ;
    color: white;
    clear: both;
    float: right;
    clear: both;
    border-radius: 7px 0px 10px 7px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,1);
}
.chat-message-text-tab2-received
{
    max-width: 80%;
    padding:15px 15px 10px 15px !important;
    margin: 10px 0px 0px 10px;
    background-color: #f1f1f1;
    clear: both;
    float: left;
    clear: both;
    border-radius: 0px 7px 7px 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.4);
}
.time-received
{
    color:rgba(0,0,0,0.8);
    font-size: 11px;
}
.time-sent
{
    font-size: 11px;
    color:rgba(255,255,255,0.8);
    float:right
}
.chat-message-text-tab2-input
{
    clear: both;
    width: calc(100% - 30px);
    height: 50px;
    bottom: 70px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.chat-message-text-tab2-input input
{
    width: calc(100% - 40px);
    height: 30px;
    padding: 0px 15px; 
    border-radius: 15px;
    outline: none;
    border:none;
    background-color: rgba(0,0,0,0.1);
}


.bot-align-bottom
{
    position:fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10000;
}


#bot-main-div
{
    display: none;
}
.bot-active
{
    animation: fade 2s 1;
    animation: fade 0.5s linear 0s 1 forwards;
}
@keyframes fade
{
    0%
    {
        opacity: 0;
    }
    20%
    {
        opacity: 0.2;
    }
    40%
    {
        opacity: 0.4;
    }
    60%
    {
        opacity: 0.6;
    }
    80%
    {
        opacity: 0.8;
    }
    100%
    {
        opacity: 1;
    }
}
.bot-close-main-div
{
    position:absolute;
    top:10px;
    cursor: pointer;
    right:20px;
    color:white;
}
.bot-circle
{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:0px 5px;
    float: right;;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.bot-circle:hover
{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
@media screen and (max-width: 1100px)
{
    .chat-message-text
    {
        width: 60vw;
        height: 90vh;
        overflow: hidden;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    }  
}
@media screen and (max-width: 600px)
{
    .chat-message-text
    {
        width: calc(100vw - 0px);
        height: calc(100vh - 0px);
        overflow: hidden;
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
    } 
    /* to remove bottom and right 10 px margin in mobile */
    .bot-align-bottom-toogle
    {
        bottom: 0px;
        right: 0px;
    }
}
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.bot-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    
}

.bot-button-div{
    max-width:100px;
    padding:0px 10px;
    border:2px solid #324A8A;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:5px; 
    border-radius: 5px;
}
.bot-button-div .bot-button{
    font-family:arial;
    font-size:16px;
    color:#324A8A;
    text-decoration:none;
    line-height:30px;
    transition:all .7s ease;
    z-index:2;
    position:relative;
}
.bot-button-effect{
    width:300px;
    height:50px;
    left:-300px;
    background:#324A8A;
    position:absolute;
    transition:all .7s ease;
    z-index:1;
}
.bot-button-div:hover .bot-button-effect{
    left:0;
}
.bot-button-div:hover .bot-button{
    color: #fff;
}


.login-box {

width: calc(90% - 80px);
padding: 40px;
margin:20px auto;
background: #942A25;
box-sizing: border-box;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
border-radius: 10px;
}

.login-box h2 {
margin: 0 0 30px;
padding: 0;
color: #fff;
text-align: center;
}

.login-box .user-box {
position: relative;
}

.login-box .user-box input {
width: 100%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}
.login-box .user-box label {
position: absolute;
top:0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
top: -20px;
left: 0;
font-size: 12px;
}

.login-box form a {
position: relative;
display: inline-block;
padding: 10px 20px;
color: #fff;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
margin-top: 40px;
letter-spacing: 4px
}