body
{
    margin: 0px;
    padding: 0px;
}
ul, #myUL 
{
    list-style-type: none;
}
#myUL
{
    margin: 0;
    padding: 0;
    padding-top:70px;
    margin-bottom: 100px;
}
.caret 
{
    cursor: pointer;
    user-select: none;
}
.caret::before 
{
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.nested 
{
    display: none;
}
li[data-expend="yes"]
{
    font-weight: bolder;
}
li[data-expend="yes"]>.caret::before
{
    transform: rotate(90deg);
}
li[data-expend="yes"]>.nested
{
    font-weight: normal;
    color:black;
    display: block;
}
.align-bottom
{
    position:fixed;
    width: 300px;
    bottom: 10px;
    text-align:center;
    left: calc(50% - 170px);
    padding: 20px;
}
.align-botton-background/* toggle movie */
{
    background-color: rgba(0,0,0,0.8);
    animation: fade 0.5s linear 0s 1 forwards;
}
.form-div
{
    display: none;
}
.active
{
    display: block;
    animation: fade 2s 1;
    animation: fade 0.5s linear 0s 1 forwards;
}
@keyframes fade
{
    0%
    {
        opacity: 0;
    }
    20%
    {
        opacity: 0.2;
    }
    40%
    {
        opacity: 0.4;
    }
    60%
    {
        opacity: 0.6;
    }
    80%
    {
        opacity: 0.8;
    }
    100%
    {
        opacity: 1;
    }
}
.close-form
{
    position:absolute;
    top:10px;
    cursor: pointer;
    right:20px;
    color:white;
}
.add-circle
{
    border-radius: 50%;
    width:50px;
    height:50px;
    margin:0px 5px;
    float: right;;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.add-circle:hover
{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
input[type="text"],input[type="submit"],select
{
    padding:5px 10px;
    min-width: 300px;
}